.header-panel {
	background-color: #fff;
	height: 10%;
}
.thumbnail {
	height: 95%;
	padding: 0;
}
.post {
	margin-top: 20px;
}
.post h2 {
	margin: 0 0 5px;
	font-size: 18px;
	line-height: 1.6em;
	font-weight: 600;
	min-height: 70px;
}
.post h2 a {
	color: #3b3d42;
}

.post h2 a:hover {
	color: #009587;
	text-decoration: none;
}

.post .caption, .caption a, .post-footer a {
	color: #999999;
}

.article-header .article-time {
	color: #949494;
}

.article-body {
	font-size: 16px;
}

.navbar-collapse {
	padding-left: 0;
}

h1.post-title {
	text-transform: uppercase;
}

::-webkit-input-placeholder {
   text-align: right;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: right;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: right;
}

:-ms-input-placeholder {
   text-align: right;
}
